.locations {
  grid-area: 1 / 6 / 7 / 9;
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  background: #EBEBEB;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  &__list {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem;
  }

  &__item {
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1.5rem 0 1.5rem 1rem;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.travelplan__control {
  grid-area: 1 / 1 / 1 / 6;
  background: linear-gradient(to right, #0cce6b80, #00c56f80, #00bc7180, #00b37380, #00aa7480);
  // background: linear-gradient(to right, #ef6461, #ea5b73, #e05685, #d05596, #bc58a4);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.travelplan__label {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1px;
  padding-left: 5px;
}

.travelplan__maps {
  grid-area: 2 / 1 / 7 / 6;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.travelplan__places {
  // grid-area: 1 / 2 / 1 / 4;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  transform: translateY(-5px);
}