.login-wrapper {
    margin-top: 3rem;
    background-color: var(--main-bg-color);
}

.form-group {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 1rem;
}

main {
    padding: 1rem 0px;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}