@use "sass:math";
@use "../../base/mixins";
@use "../../base/functions";
@use "../../base/variables";

.btn {
  &--text-white {
    color: #FCF7F8 !important;
  }

  &--text-black {
    color: #11151C !important;
  }

  &--xs {
    @include mixins.button(functions.type-scaling(-2), .8rem 1rem, 10px)
  }

  &--small {
    @include mixins.button(functions.type-scaling(-1), .8rem 1rem, 10px)
  }

  &--medium {
    @include mixins.button(functions.type-scaling(0), 1rem 1.5rem, 10px)
  }

  &--medium-large {
    @include mixins.button(functions.type-scaling(1), 1.2rem 1.8rem, 10px)
  }

  &--large {
    @include mixins.button(functions.type-scaling(2), 1.5rem 2rem, 10px)
  }

  &--xl {
    @include mixins.button(functions.type-scaling(3), 2rem 2.5rem, 10px)
  }

  &--xxl {
    @include mixins.button(functions.type-scaling(4), 2rem 2.5rem, 10px)
  }

  &--pill {
    border-radius: 80px;
  }

  &--outlined {
    background-color: transparent;
    border: 1px solid inherit;

    &:hover {
      background-color: inherit;
    }
  }

  &--w100 {
    width: 100%;
  }
}

@include mixins.elevation("box");