@use "sass:math";
@use "../../base/functions";
@use "../../base/variables";
@use "../../base/mixins";

.form {
  &__wrapper {
    padding: 6rem;
  }

  &__group {
    display: flex;
    flex-flow: column wrap;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    & > * {
      width: 100%;
    }
  }

  &__input {
    padding: 1rem 1.5rem;
    border-radius: 2px;
    border: none;
    font-family: "Ubuntu", sans-serif;

    &-text {
  
      @for $i from 1 through 8 {
        &--size-#{$i}x {
          font-size: functions.type-scaling($i - 3);
        }
      }
    }

    &--error {
      padding-left: 1rem;
      color: #ef6461;
      font-weight: 400;
      letter-spacing: 1.1px;
    }
  }
}

textarea {
  resize: none;
}