.form__wrapper {
  padding: 6rem;
  
  background-color: var(--cadetgray-light);
  // border-radius: 3px;
  // box-shadow: 0 1.5rem 4rem rgba(10, 15, 13, 0.2);
}

.form__group {
  display: flex;
  flex-flow: column wrap;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  padding: 1rem 1.5rem;
  border-radius: 2px;
  border: none;

  &--error {
    color: #ef6461;
  }
}