.list {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1rem;

  &__item {
    font-size: 1.5rem;
    padding: 1.5rem 0 1.5rem 1rem;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}