.location {
  display: flex;
  justify-content: space-between;
}

.location__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.location__buttons {
  display: flex;
  justify-content: center;
}