.navigation {
    font-size: 2rem;
    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 99;

    &__logo {
        font-weight: 600;
        font-size: 25px;
        color: tomato;
        text-decoration: none;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        margin-left: 2rem;
    }

    &__link {
        // text-decoration: none;
        color: transparent;
        padding: 5px 10px;
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: 400;
        letter-spacing: 1px;
        background-image: linear-gradient(to right, #ef6461, #ea5b73, #e05685, #d05596, #bc58a4);
        

        &--active,
        &:hover {
            text-decoration: underline;
            background-image: linear-gradient(to right, #87f6ff, #72e6ff, #67d5ff, #68c4fa, #72b1f2);
            transition: all 0.5s ease-in-out;
        }
    }
}
//   .menu-list li:last-child a {
//     font-weight: 300;
//     padding: 5px 10px;
//     background-color: #01aacd;
//     transition: all 0.5s ease-in-out;
//     margin-left: 20px;
//     border-radius: 2px;
//   }