.tabs {
    background-color: var(--grey-light-1);
    width: 60%;
    // margin: 4rem auto 0 auto;
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        flex-grow: 1;
        background-color: var(--cadetgray-medium);

        &-active {
            background-color: var(--cadetgray-light);
        }
    }

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list {
        background-color: var(--cadetgray-medium);
        width: 100%;
        height: 50px;
        list-style: none;
        display: flex;
        align-items: stretch;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &__panel {
        display: block;
    }

    
}