.App {
  position: relative;
}

.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 60px auto;
  grid-template-areas: 
    "sidebar main"
    "sidebar main";
  background: #fcfcfc;

  &__main {
    grid-area: main;
  }

  &__top {
    z-index: 99999;
    grid-area: top;
    background: linear-gradient(to right, #67d5ff, #68c4fa, #72b1f2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}