.btn, .btn:link, .btn:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
}

.btn:disabled {
    background-color: var(--grey-light-2);
}

.btn:not(:disabled) {
    cursor: pointer;
}

.btn-register {
    font-weight: 600;
    color: var(--white);
    background-color: var(--electricblue-dark);
}