.register {
    position: relative;
}

.section-register {
    /* padding: 1rem 0px;
    display: flex;
    font-size: 1.5rem;
    justify-content: center; */
}

.register__form {
    width: 50%;
    padding: 6rem;
    margin-top: 5rem;
    
    background-color: var(--cadetgray-light);
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(10, 15, 13, 0.2);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}