.navigation {
    font-size: 2rem;
    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    position: relative;
    z-index: 99;

    &__logo {
        font-weight: 600;
        font-size: 25px;
        color: tomato;
        text-decoration: none;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        margin: 0 2rem 0 2rem;
    }

    &__link {
        display: inline-block;
        position: relative;
        color: transparent;
        padding-bottom: 3px;
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: 800;
        letter-spacing: 2px;
        background-color: #00aa74;
        // background-color: #bc58a4;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;  
            left: 0;
            transform-origin: bottom right;
            background-color: #00aa74;
            // background-color: #bc58a4;
            transition: transform 0.25s ease-out;
            border-radius: 10px;
        }

        &--active:after {
            transform: scaleX(1);
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

.divider {
    width: 3px;
    height: 25px;
    // background-color: #bc58a4;
    background-color: #00aa74;
    border-radius: 10px;
}