.sidebar {
  width: 400px;
  height: 100%;
  background: linear-gradient(to left, #67d5ff, #68c4fa, #72b1f2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
}

.sidebarnav {
  width: 100%;

  &__list {
    list-style-type: none;
  }

  &__item {
    margin: 1.5rem 0;
    width: 100%;
  }

  &__link {
    padding: 2rem;
    width: 100%;
    font-size: 2.2rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #fcfcfc;
    font-weight: 800;
    letter-spacing: 2px;

    &--active {
      background: linear-gradient(to right, #72e6ff, transparent);
    }
  }
}