.destination__headline {
  grid-area: 1 / 1 / 4 / 9;
  background-color: blueviolet;
  position: relative;
  // margin: 0 auto;
}

.destination__tabs {
  grid-area: 4 / 1 / 7 / 9;
  // background-color: red;
}