@use "~@fontsource/ubuntu/scss/mixins" as Ubuntu;
@import "~@fontsource/ubuntu/index.css";
// @import "~@fontsource/ubuntu/index.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.Toastify__toast-container {
    width: 450px;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.8rem;
}

body {
    @include Ubuntu.fontFace(
        $weight: 400,
        $display: fallback,
        $fontDir: "~@fontsource/ubuntu/files"
    );

    box-sizing: border-box;
    margin: 0;
    font-family: "Ubuntu";
    // font-weight: 400;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $grey-light-2;
}

#root {
  height: 100vh;
  width: 100vw;
}

.row {
    max-width: var(--grid-width);
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: var(--gutter-vertical);
}