@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "sass:list";

@use "./variables";

@function create_color_map($colorvalue, $percentage) {
  $map: ();

  $color-map: (
    "main": $colorvalue,
    "light": mix(map.get(variables.$colors, "white"), $colorvalue, $percentage),
    "dark": mix(map.get(variables.$colors, "black"), $colorvalue, $percentage),
  );

  @return $color-map;
}

@function type-scaling($scale) {
  $size: math.pow(1.333, $scale);
  $font-size: $size + rem;

  @return $font-size;
}

@function grid_calc($i: 1) {
  $fr_list: ();

  @for $i from 1 through $i {
    $fr_list: list.append($fr_list, 1fr);
  }

  @return $fr_list;
}