// COLORS
$emerald-light: #0cce6b;
$emerald-medium: #00bc71;
$emerald-dark: #00aa74;
$emerald-gradient: #0cce6b, #00c56f, #00bc71, #00b373, #00aa74;

$fireopal-light: #ef6461;
$fireopal-medium: #e05685;
$fireopal-dark: #bc58a4;
$fireopal-gradient: #ef6461, #ea5b73, #e05685, #d05596, #bc58a4;

$electricblue-light: #87f6ff;
$electricblue-medium: #67d5ff;
$electricblue-dark: #72b1f2;
$electricblue-gradient:#87f6ff, #72e6ff, #67d5ff, #68c4fa, #72b1f2;

$grey-light-1: #f7f7f7;
$grey-light-2: #eee;

$cadetgray-light: #6ec5b4;
$cadetgray-medium: #75acaf;
$cadetgray-dark: #829399;

$darkjunglegreen: #041f1e;

$emerald: #0cce6b;
$fireopal: #ef6461;
$electricblue: #87f6ff;
$sunray: #e4b363;
$cadetgray: #6ec5b4;

$white: #fcfcfc;
$black: #0a0f0d;

$base-font-size: 100%; // which is equivalent to 15px

$fontweight-300: 300;
$fontweight-400: 400;
$fontweight-500: 500;
$fontweight-700: 700;

$colors: (
  "primary": $emerald,
  "secondary": $fireopal,
  "teriary": $electricblue,
  "quaternary": $sunray,

  "black": $black,
  "white": $white,
  "gray": $cadetgray
);